{% extends 'family-gallery/layout/dopetrope.twig' %}

{% block style %}
    <style>.box {
            padding: 0.5em !important;
        }</style>{% endblock style %}
{% block logo %}
    <h1><a href="/">Family Gallery</a></h1>
{% endblock logo %}
{% block nav %}{% endblock nav %}
{% block banner %}{% endblock banner %}
{% block intro %}{% endblock intro %}

{% block portfolio %}
    <section>
        {% for year in years %}
            {% block major %}<header class="major"><h2>{{ year }}</h2></header>{% endblock major %}
            {% block portfolio_row %}
                <div class="row">
                    {% block portfolio_rows %}
                    {% for month in months[year] %}
                            <div class="4u 12u(mobile)">
                                <section class="box">
                                    {#<a href="#" class="image featured"><img src="{{ t_path }}/images/pic02.jpg" alt="" /></a>#}
                                    <header>
                                        <a href="{{ url('family-gallery', {'action': 'view', 'member_id': member_id, 'year': year, 'month': month}) }}"
                                           style="text-decoration: none;"><h3>{{ date(year ~ '-' ~ month ~ '-01') |date('F') }}</h3></a>
                                    </header>
                                </section>
                            </div>
                    {% endfor %}
                {% endblock portfolio_rows %}
                </div>
            {% endblock portfolio_row %}
        {% endfor %}
    </section>
{% endblock portfolio %}

{% block blog %}{% endblock blog %}

{% block footer_wrapper %}{% endblock footer_wrapper %}

